[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django = "==3.0.6"
pillow = "*"

[packages]
minio = ">=4.0.9"
django = ">=2.2.4"

[requires]
python_version = "3.6"
